.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5em 4.875em 4.875em;
    height: 100%;
    overflow:hidden;
    background-color: #222222;
}

.content {
    margin: 0;
    padding: 0;
    border:0;
    vertical-align: baseline;
    color:white;
    padding-top:10vh;
}

.circle {
    z-index: -1;
    border-radius: 50%;
    width: 40vmax;
    height: 40vmax;
    background-color: #33C3F0;
    opacity: .19;
    position: absolute;
    left:-10vmax;
    top:-18vmax;
}

.title {
    font-size: 8vmax;
    line-height: 1.18182em;
    font-weight: 900;
    z-index: 4;
}

.tag {
    font-size: 1.2vmax;
    font-weight:100;
    line-height: 1.18182em;
    max-width: 35em;
    z-index: 3;
}

.navigation {
    list-style: none;
    font-weight: 400;
    font-size: 1.425em;
}

.navigation a:link{
    text-decoration: none;
}

.navigation a:active {
    color: #0FA0CE;
    font-weight: 700;
}

.navigation a.active {
    color: #0FA0CE;
    font-weight: 700;
}

.information {
    margin: 0;
    border:0;
    vertical-align: baseline;
    color: #222222;
    padding: 4.0625em 0 0;
    margin-top:4.875em;
}

.copy{
    max-width: 95%;
    font-size: 1vmax;
}

.behance-overlay {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform-origin:center;
    -ms-transform-origin:center;
    transform-origin:center;
    -webkit-transition:cubic-bezier(.77,0,.175,1).4s;
    transition:cubic-bezier(.77,0,.175,1).4s;
    z-index:1;
    overflow:hidden;
    -webkit-clip-path:circle(0 at 50% 50%);
    clip-path:circle(0 at 50% 50%)
}

.portfolio-circle:hover .behance-overlay {
    background-color: rgba(86, 152, 212, .97);
    opacity:.9;
    -webkit-clip-path:circle(100% at 50% 50%);
    clip-path:circle(100% at 50% 50%)
}

.behance-title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 25%;
    line-height: 2vmin;
    z-index: 2;
    display: none;
}

.behance-title-name {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 2vmin;
    line-height: 2vmin;
    color: #fff;
    display: block;
}

.behance-title-caption {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 2vmin;
    color:#e8e8e8;
    display: block;
}
.behance-quickview {
    display: none;
    transition: cubic-bezier(.77,0,.175,1).5s;
    width: 5vmin;
    height: 5vmin;
    position: absolute;
    left: 55%;
    background: url(../imgs/portfolio/behance.png) no-repeat center center;
    background-size: contain;
    -webkit-transform:(-50%, 100%);
    transform: translate(0%, 200%);
    bottom: 0;
    z-index: 3;
}


.portfolio-circle {
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip: border-box;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    transition: cubic-bezier(.77,0,.175,1).5s;
    transition-property: initial;
    transition-duration: 0.5s;
    transition-timing-function: (.77, 0, 0.175, 1);
    transition-delay: initial;
    overflow: hidden;
    margin-bottom: 5vh;
}

.portfolio-circle:hover {
    transform: translateY(-10px);
    -webkit-transform:translateY(-10px);
    -ms-transform: translateY(-10px);
    box-shadow: 0 12px 10px rgba(0,0,0,.2);
}

.portfolio-circle:hover .behance-quickview {
    display: block;
}

.portfolio-circle:hover .tumblr-quickview {
    display: block;
}

.portfolio-circle:hover .behance-title {
    display: block;
}


.portfolio-circle:hover .slide {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

@media screen and (max-width: 414px) and (max-height: 736px) and (-webkit-max-device-pixel-ratio: 3){
    .six.columns{
        width:100%;
        height:90%;
        position:relative;
    }
    .tag {
        max-width: 90vw;
        font-size: 2.5vmax;
        padding-top:6vh;
    }
    .circle{
        height:60vmax;
        width:60vmax;
        z-index:0;
        opacity:.1;
    }
    .header{
        padding:2em 1.2em 1em;
    }
    .navigation{
        font-size:2.8vmax;
    }
    .information{
        margin-top:0;
        padding:3vh 0 0 0;
    }
    h1{
        font-size:5.1vmax;
        text-align:center;
    }
    .title{
        font-size:12vmax;
        z-index:1;
        text-align:left;
    }
    .copy{
        font-size:3vh;
        margin: 0 15px 0 15px;
    }
    .copy p{
        text-align:center;
    }
    #work{
        padding-top:3vh;
    }
    .portfolio-circle{
        margin-left:auto;
        margin-right:auto;
        width:30vmax;
        height:30vmax;
    }
    .content{
        padding-top:0;
    }
}